// VARIABLES
$main-color : #ff9494;
$darker-main : #ff5e5e;
$dark-gray : #333333;
$light-gray : #f0f0f0;

@mixin centerText {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

@mixin center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

    a {
        text-decoration: none;
        color: $main-color;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        margin: 2px;
        z-index: 10000;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #b8b8b8;
        border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

html {    
    overflow-y: scroll;
}

body {
    color: $dark-gray;
    overflow-x: hidden;
    font-weight: 600;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: #c5c5c5;
    }
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 30%;
    max-width: 100%;
    min-width: 300px;
    max-height: 100%;
    border-radius: 5px;
    border: 1px solid $light-gray;
    outline: none;
    padding: 5px;
    margin: 10px;
    transition: border 0.3s;

    &:focus {
        border: 1px solid $main-color;
    }
}



.welcome {
    width: 100vw;
    height: 100vh;
    background-color: $main-color;
    position: fixed;
    top: 0;
    z-index: 10;
    display: none;
}

.box {
    background-color: $light-gray;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    margin-top: 30px;
    width: 100%;
    text-align: center;

    h3 {
        margin-bottom: 20px;
    }
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: 70px;
    padding: 0 50px;
    white-space: nowrap;
    z-index: 5;

    .logo {
        color: $main-color;

        .logo-text {
            transition: 0.3s;
        }

        &:hover .logo-text {
            color: $dark-gray;
        }
    }

    ul {
        display: flex;
        list-style: none;
        font-weight: bold;

        li {
            margin: 0 30px;

            a {
                color: $dark-gray;
                transition: 0.2s;
                opacity: 0.8;

                &:hover {
                    color: $main-color;
                    opacity: 1;
                }
            }
        }
    }
}




.main {
    width: 100%;
    max-width: 1400px;
    min-height: calc(100vh - 100px - 300px); // 100vh - header - footer
    margin: 120px auto;
    padding: 0 50px;
    font-size: 17px;
    line-height: 1.8rem;
}



.entry-display {
    height: max-content;

    .entry {
        position: relative;
        max-width: 100%;
        width: 400px;
        background-color: #f5f5f5;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 20px;

        .title {
            margin-bottom: 10px;
        }
    }
}




.new-note {
    @include center();
    width: max-content;
}




footer {
    height: 100px;
    position: relative;
    background-color: $light-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}




// NAVBAR CURRENT PAGE SELECTION - only applies when class name is inside id
#home .home, #journal .journal, #to-do .to-do, #look-back .look-back {
    color: $main-color;
    opacity: 1;
}